<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiroguevarra.doktogel_fin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShioTogelActivity"
            android:label="@string/title_activity_shio_togel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HasilTogelSebelumnyaActivity"
            android:label="@string/title_activity_hasil_togel_sebelumnya"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TafsirMimpiActivity"
            android:label="@string/title_activity_tafsir_mimpi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PanduanTogelActivity"
            android:label="@string/title_activity_panduan_togel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NeptuHariActivity"
            android:label="@string/title_activity_neptu_hari"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DataTasyenActivity"
            android:label="@string/title_activity_data_tasyen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TentangKamiActivity"
            android:label="@string/title_activity_tentang_kami"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>